.login-frame-container {
    max-width: 400px;
    max-height: 600px;
	background: hsl(220, 49%, 81%);
    padding: 50px 50px 30px 50px;
    border-radius: 0px 20px 20px 20px;
    position: relative;
    .back-button {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}